/**
 * @file
 * Styling for the color palettes.
 */

.styleguide-palette-css-swatch {
  display: inline-block;
  margin: 0.5em;
  vertical-align: top;
  width: 14em;
}

.styleguide-palette-css-swatch-color {
  border: 1px solid #f1f1f1;
  height: 100px;
  width: 100px;
}
